@using Vereyon.Web
@model University_Management.Models.AllocateClassroom

@{
    ViewBag.Title = "AllocateClassRoom";
}

<h2>Allocate ClassRoom</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.RenderFlashMessages()
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "Department", htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", null, "--Select Department--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="CourseId" name="CourseId">
                    <option value="">--Select Course--</option>
                </select>
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomId, "Room", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoomId", null, "--Select Room--", htmlAttributes: new { @class = "form-control role" })
                @Html.ValidationMessageFor(model => model.RoomId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Day,new List<SelectListItem>(){new SelectListItem
                {
                    Text = @"Saturday",Value="Saturday"
                },new SelectListItem
                {
                    Text = @"Sunday",Value="Sunday"
                },new SelectListItem
                {
                    Text = @"MonDay",Value="MonDay"
                },new SelectListItem
                {
                    Text = @"TuesDay",Value="TuesDay"
                },new SelectListItem
                {
                    Text = @"Wednesday",Value="Wednesday"
                },new SelectListItem
                {
                    Text = @"ThursDay",Value="ThursDay"
                },new SelectListItem
                {
                    Text = @"FriDay",Value="Friday"
                }

                },"--Select Day--",new { @class = "form-control scrollable-menu" } )
                @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FromTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromTime, new { htmlAttributes = new { @class = "form-control time-picker" } })
                @Html.ValidationMessageFor(model => model.FromTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToTime, new { htmlAttributes = new { @class = "form-control time-picker" } })
                @Html.ValidationMessageFor(model => model.ToTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="hidden" value=true name="IsAllocated" />
                <input type="submit" value="Create" id="alctSbmt" class="btn btn-block btn-success" />
            </div>
        </div>
    </div>
}
@section scripts
{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery-TimePicker-1.0.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.time-picker').timepicker({
                timeFormat: 'h:mm p',
                interval: 30,
                minTime: '1',
                maxTime: '23',
                defaultTime: '8',
                startTime: '10:00',
                dynamic: true,
                dropdown: true,
                scrollbar: true
            });
            $("#DepartmentId").change(function() {
                var id = $("#DepartmentId").val();
                var course = $("#CourseId");
                course.empty();
                course.append('<option value="">--Select Course--</option>');
                var parameter = { id: id };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseByDepartment","ClassRoom")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(parameter),
                    success: function(response) {
                        $.each(response, function(key, value) {
                            course.append('<option value='+value.Id+'>'+value.CourseName+'</option>');
                        });
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#alctSbmt").click(function () {
                var departmentId = $("#DepartmentId").val();
                var courseId = $("#CourseId").val();
                var roomId = $("#RoomId").val();
                var dayId = $("#Day").val();
                var fromTime = $("#FromTime").val();
                var toTime = $("#ToTime").val();


                if (departmentId === "") {
                    $('#DepartmentId').removeClass('valid');
                    $('#DepartmentId').addClass('input-validation-error');
                    $('#DepartmentId').next('span').removeClass('field-validation-valid');
                    $('#DepartmentId').next('span').addClass('text-danger field-validation-error');
                    $('#DepartmentId').next('span').text('Please select department for the room').show();
                    event.preventDefault();
                }
                if (courseId === "") {
                    $('#CourseId').removeClass('valid');
                    $('#CourseId').addClass('input-validation-error');
                    $('#CourseId').next('span').removeClass('field-validation-valid');
                    $('#CourseId').next('span').addClass('text-danger field-validation-error');
                    $('#CourseId').next('span').text('Please select course for the room').show();
                    event.preventDefault();
                }
                if (roomId === "") {
                    $('#RoomId').removeClass('valid');
                    $('#RoomId').addClass('input-validation-error');
                    $('#RoomId').next('span').removeClass('field-validation-valid');
                    $('#RoomId').next('span').addClass('text-danger field-validation-error');
                    $('#RoomId').next('span').text('Please select room no').show();
                    event.preventDefault();
                }
                if (dayId === "") {
                    $('#Day').removeClass('valid');
                    $('#Day').addClass('input-validation-error');
                    $('#Day').next('span').removeClass('field-validation-valid');
                    $('#Day').next('span').addClass('text-danger field-validation-error');
                    $('#Day').next('span').text('Please select day').show();
                    event.preventDefault();
                }
                if (fromTime === "") {
                    $('#FromTime').removeClass('valid');
                    $('#FromTime').addClass('input-validation-error');
                    $('#FromTime').next('span').removeClass('field-validation-valid');
                    $('#FromTime').next('span').addClass('text-danger field-validation-error');
                    $('#FromTime').next('span').text('Please insert from time').show();
                    event.preventDefault();
                }
                if (toTime === fromTime) {
                    $('#ToTime').removeClass('valid');
                    $('#ToTime').addClass('input-validation-error');
                    $('#ToTime').next('span').removeClass('field-validation-valid');
                    $('#ToTime').next('span').addClass('text-danger field-validation-error');
                    $('#ToTime').next('span').text('To time should be more than from time').show();
                    event.preventDefault();
                }
            });

        });

        $(document).ready(function () {
            $("#DepartmentId").change(function () {
                $('#DepartmentId').next('span').empty();
                $('#DepartmentId').removeClass('input-validation-error');
            });
            $("#CourseId").change(function () {
                $('#CourseId').next('span').empty();
                $('#CourseId').removeClass('input-validation-error');
            });
            $("#RoomId").change(function () {
                $('#RoomId').next('span').empty();
                $('#RoomId').removeClass('input-validation-error');
            });
            $("#Day").change(function () {
                $('#Day').next('span').empty();
                $('#Day').removeClass('input-validation-error');
            });
            $('#FromTime').on('input propertychange paste', function() {
                $('#FromTime').next('span').empty();
                $('#FromTime').removeClass('input-validation-error');
            });
            $('#ToTime').on('input propertychange paste', function () {
                $('#ToTime').next('span').empty();
                $('#ToTime').removeClass('input-validation-error');
            });
        });
    </script>
}
