@using Vereyon.Web
@model University_Management.Models.Teacher

@{
    ViewBag.Title = "Create";
}

<h2>Save Teacher</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        <hr />
        @Html.RenderFlashMessages()
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Credit, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Credit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesignationId, "Designation", htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DesignationId", null,"--Select Designation--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "Department", htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", null,"--Select Department--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" id="saveTchrBtn" class="btn btn-success" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#saveTchrBtn").click(function() {
                var returnVal = true;
                var departVal = $("#DepartmentId").val();
                var desigVal = $("#DesignationId").val();
                if (desigVal==="") {
                    $('#DesignationId').removeClass('valid');
                    $('#DesignationId').addClass('input-validation-error');
                    $('#DesignationId').next('span').removeClass('field-validation-valid');
                    $('#DesignationId').next('span').addClass('text-danger field-validation-error');
                    $('#DesignationId').next('span').text('Please select designation for the teacher').show();
                    returnVal = false;
                } else {
                    $('#DesignationId').next('span').text('Please select designation for the teacher').hide();
                }
                if (departVal === "") {
                    $('#DepartmentId').removeClass('valid');
                    $('#DepartmentId').addClass('input-validation-error');
                    $('#DepartmentId').next('span').removeClass('field-validation-valid');
                    $('#DepartmentId').next('span').addClass('text-danger field-validation-error');
                    $('#DepartmentId').next('span').text('Please select department for the teacher').show();
                    returnVal = false;
                } else {
                    $('#DepartmentId').next('span').text('Please select department for the teacher').hide();
                }
                if (!returnVal) {
                    event.preventDefault();
                }
            });
        });
    </script>
}
